.Footer{
    height: 100vh;
    padding-top: 3rem;
    color:white
    
}

.Email{
    display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: flex-end;
justify-content: right;
   
}

.form{
    margin-left: auto;
}

p{
    margin-top: 2rem;
}

