@keyframes show {
    
    0%{opacity: 0.9;}
    50%{opacity: 0.9;}
   
    100%{opacity: 1;}
}


.Furniture{
    height: 100%;
    padding:3rem 0px 3rem 0px;
}

.Cardmain{
    position: relative;
}

.icon{
    position: absolute;
    top: 20%;
    left: 35%;
    display: none;
   
   
    
    
}
.Cardmain:hover > .icon{
     animation-name: show;
    animation-duration: 5s;
    display: block;
    cursor: pointer;
}