@keyframes show {
    
    0%{opacity: 0.9;}
    50%{opacity: 0.9;}
   
    100%{opacity: 1;}
}


.Furniture{
    height: 100%;
    padding:3rem 0px 3rem 0px;
}

.Cardmain{
    position: relative;
    
}

.icon{
    position: absolute;
    top: 20%;
    left: 35%;
    display: none;
   
   
    
    
}

.icon:hover{
    background-color: orange;
}
.image2:hover > .icon{
     /* animation-name: show;
    animation-duration: 5s; */
    display: block;
    cursor: pointer;
}


/*   -------  Responsive ness Design --------------- */


@media (width <= 500px){
  .Cardmain{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 99vw;
    margin-bottom: 5rem;
    border: 0.2px solid green;
  }

  /* .columns{
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

/* .Row1{
   width:99vw;
   display: flex;

} */
  
}

@media (500px <= width <= 800px ){

}