/* *{
    margin:0px;
    padding:0px;
}

@keyframes color {
    0%{opacity: 4}
    50%{opacity:8}
    100%{opacity:1}
}

.Nmain{
    padding:0px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    background-image:url('../../public/images/banner-bg.png');
 
 justify-content: space-between;
  align-items: center;

 
}

.list{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 0.6rem;
  
}

.list > ul{
    display: flex;
    list-style-type: none;


}

.list > ul > li{
    padding: 0px 1.5625rem 0px 1.5625rem;
    font-size: large;
    color:black;
    cursor: pointer;
    font-weight: 500;
}

.list > ul > li >a{
    color:black;
    text-decoration:none;
}

.list > ul > li >a:hover{
    color:orange
}

.list > ul > li:hover{
    color: orange;
    animation-name: color;
    animation-duration: 1;
    
}


.search{
    width:30rem;
   
    display: flex;
    justify-content: flex-end;
}

.search a{
    padding:0 1rem 0 1rem;
    cursor: pointer;
}

.search a:last-child:hover{
   color: orange;
} */












/*   ------------- New beginning ------------ */

.cont{
    background-position: center;
    background-image: url('../../public/images/banner-bg1.png');
}

.row1{
    display:flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}
.col1{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
   
}

/*   Column 2  */
.col2{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
     padding: 0px;
}

.listParent{
  width: 100%;
  padding: 0px 0.4rem 0px 0.4rem;
}


.list{
    display:flex;
    height: 10vh;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
  
}


/*  Column 3  */
.col3{
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
   
}

.list2{
    display:flex;
    align-items:center;
    justify-content:space-around;
    list-style: none;
    padding: 0px;
}

 a{
    text-decoration: none;
    font-weight:400;
    font-size: large;
    color: black;

}

.listItem > a:hover{
    color:orange;
    border-bottom: 2px solid black;
    transition: color 0.3s ease-in-out,border-bottom 0.2s ;
    -webkit-transition: color 0.3s ease-in-out,border-bottom 0.2s ;
    -moz-transition: color 0.3s ease-in-out,border-bottom 0.2s ;
    -ms-transition: color 0.3s ease-in-out,border-bottom 0.2s ;
    -o-transition: color 0.3s ease-in-out,border-bottom 0.2s ;
}



/*   Col-4   side bar  */

.col4{
    display:none;
    /* display: flex;
    align-items: center;
    
    flex-direction: row;
    flex-wrap: wrap; */
    height: 10vh;
    text-align: center;
    background-image: url('../../public/images/banner-bg.png');

}

.col4 > span{
    display:none;
    float: right;
    border: 1px solid gainsboro;
   
}

/*  side list  */

.sideList{
    list-style: none;
   
    width: 100%;
}

.listItemSide{
    padding: 1rem 0rem 1rem 0rem;
   
    width: 100%;
    text-align: center;
    background-image: url('../../public/images/bg-1.png');
    

}

.listItemSide > a{
    width: 100%;
    padding: 0px 1rem 0 1rem;
    border-left: 4px solid orange;
    border-right: 4px solid orange;
    background-color: white;
}

.listItemSide > a:hover{
    background-color: orange;
    
}

.sideContainer{
    background-image: url('../../public/images/banner-bg1.png');
    background-position: center;
    
    color: orange;
}
