@media  (319px <= width <= 425px){
    .col1 > img{
        width: 150px;
    }

    
  

}

@media  (426px <= width <= 768px){

    .col1 > img{
        width: 170px;
    }
}



@media  ( width <= 980px){

    .cont{
        padding-left: 100px;
    }
    img{
        width: 200px;
    }
    .col2 {
    display: none;
   }
    
   .col3 {
    display: none;
   }

   .col4{
    display: block;
   }

   .col4 > span{
    display:block;
   }
  
}