.services{
    text-align: center;
    height: 100vh;
    padding:4rem 0rem 4rem 0rem;
    
}

.CardGroup{
   display:flex;
   justify-content: center;
   align-items:center;
   background-color:white;
}

.bg-primary {
    background-color: #f3f6f8!important;
}

.Row{
    margin-bottom: 5rem ;
}

.Row:first-of-type{
    margin-bottom:0;
}

.btn{
    background-color: orange;
}

.btn:hover{
    background-color: rgb(10, 10, 10);
    color: white;
    
}